# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries for programs and plugins
*.out

# Specific to Go
/bin
/pkg
/test

# Ignore Mac-specific files
.DS_Store

# Ignore editor-specific files
.idea/
.vscode/
*.swp

# Ignore build and log files
# build/
log/
*.log


# config.yaml
config.yaml